@import url(https://fonts.googleapis.com/css?family=Roboto:400,300|Open+Sans:400,300);
.photo {
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0; }

#photo1 {
  width: 18%;
  height: 20%;
  background-image: url("../img/works/photo1.jpg");
  background-position: top right; }

#photo2 {
  width: 18%;
  height: 50%;
  background-image: url("../img/works/photo2.jpg");
  background-position: top center; }

#photo3 {
  width: 25%;
  height: 30%;
  background-image: url("../img/works/photo3.jpg");
  background-position: top; }

body {
  margin: 0;
  padding: 0;
  background-color: #393E46; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0; }

.section {
  display: none;
  height: 100vh;
  width: 100%; }
  .section.active {
    display: block; }

header {
  height: 100vh;
  width: 14%;
  position: fixed;
  display: inline;
  z-index: 1; }
  header button {
    display: inline;
    position: absolute;
    background: none;
    border: none;
    cursor: pointer;
    top: 10px;
    left: 10px;
    color: #fff; }
    header button:focus {
      outline: 0; }
  header .nav_container {
    position: absolute;
    top: 300px;
    left: -500px;
    -webkit-transition: 1s; }
    header .nav_container.active {
      left: 0; }
    header .nav_container li {
      list-style-type: none;
      text-align: right;
      padding: 10px; }
      header .nav_container li a {
        text-decoration: none;
        color: #fff;
        font-family: "Roboto", sans-serif;
        font-size: 40px;
        text-transform: uppercase; }
        header .nav_container li a.active {
          color: red; }

main {
  -webkit-transition: 1s;
  overflow: hidden;
  z-index: 0;
  padding: 0;
  margin: 0;
  transform: scale(1); }
  main.active {
    transform: scale(0.7); }
  main .home {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url("../img/jumbotron.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden; }
    main .home h1 {
      font-family: "Open Sans", sans-serif;
      text-align: center;
      color: #fff;
      border: solid #fff 4px;
      font-weight: 300;
      padding: 10px;
      letter-spacing: 10px;
      text-transform: uppercase;
      width: 68%;
      font-size: 100px;
      margin: 0 auto;
      position: relative;
      top: 400px; }
  main .works {
    background-color: #fff; }
    main .works h1 {
      color: #393E46;
      text-align: center;
      text-transform: uppercase;
      font-family: "Roboto", sans-serif;
      font-size: 30px;
      letter-spacing: 10px;
      padding: 20px; }
